<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SC_MMascotass.Properties.Settings.MascotasConnectionString"
            connectionString="Data Source = (local)\DESKTOP-TVQPSSH; Initial Catalog = scmascotas2; Integrated Security = true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>