<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SC_MMascotass.Properties.Settings.MascotasConnectionString"
            connectionString="Data Source = (local)\MSSQLSERVER2019; Initial Catalog = scmascotas2; Integrated Security = true" />
        <add name="SC_MMascotass.Properties.Settings.scmascotas2ConnectionString"
            connectionString="Data Source=DAST\MSSQLSERVER2019;Initial Catalog=scmascotas2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>